extends layout

block content
    .panel.panel-primary
        h3.panel-heading Welcome to the most awesome chat app!
        .panel-body
            .alert#list
            textarea(placeholder="Write a chat message").form-control#message
            button#submit-button.btn.btn-primary Send
