extends layout

block content
  include ./header.jade
  .bodyContent
    h1= title
    p This is a school assignment for a course in frontend development at Lernia yrkeshögskola. The server is built in express and has used 'Express Generator' as the skeleton for the application.
  include ./foot.jade